pipeline/pl_load_binance_klines_bronze.json
{
	"name": "pl_load_binance_klines_bronze",
	"properties": {
		"activities": [
			{
				"name": "LookupConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_config_coinwatch_symbols",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSymbol",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupConfig').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@lessOrEquals(ticks(addDays(item().watermark, 1)), ticks(addDays(utcNow(), -1)))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyBinanceToBronze",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "HttpReadSettings",
													"requestMethod": "GET"
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_binance_zip",
												"type": "DatasetReference",
												"parameters": {
													"symbol": "@item().symbol",
													"interval": "@item().interval",
													"date": "@formatDateTime(addDays(item().watermark, 1), 'yyyy-MM-dd')"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_bronze_binance_binary",
												"type": "DatasetReference",
												"parameters": {
													"symbol": "@item().symbol",
													"interval": "@item().interval",
													"date": "@formatDateTime(addDays(item().watermark, 1), 'yyyy-MM-dd')"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "RunCoinwatchDatabricksJobJob1",
				"type": "DatabricksJob",
				"dependsOn": [
					{
						"activity": "ForEachSymbol",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"jobId": "990663311610520",
					"jobParameters": {
						"run_date": {
							"value": "@pipeline().parameters.run_date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_coinwatch",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"run_date": {
				"type": "string",
				"defaultValue": "2026-06-10"
			}
		},
		"annotations": []
	}
}